[oelint]
# this will set the --hide warning parameter automatically
# hide = info
# this will set messageformat parameter
messageformat = {severity}:	{path}:{line}	{id}:{msg}
# # will configure --release to dunfell
release=scarthgap

